/*CSS reset settings here*/
/* *{
 margin: 0px;
 padding: 0px;
} */

#wrapper{ /* div-0 */
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 overflow: hidden;
 height: auto;
}
  #header{ /* div-0.0 */
   min-height: 150px;
   background-color: green;
   margin: 20px;
  }


  /* div-0.1 */
  /* #navigation{
  min-height: 300px;
  width: 200px;
  background-color: blue;
  margin: 20px;
  } */

  #main_content{ /* div-0.2 */
   min-height: 400px;
   width: 700px;
   background-color: red;
   /* float: right; */
   margin: 20px;
  }

    /* div-0.2.0-2 */
    .subcontents{
     min-height: 200px;
     width: 210px;
     background-color: yellow;
     margin: 10px;
     float: right;
    }

/* #advertisement{
 min-height: 120px;
 width: 660px;
 background-color: purple;
} */
