#container {
  width: 320px;
  background: silver;
  margin: 0px auto;
  overflow: hidden;
  height: auto;
}
/* -------------------------------------- */
#row-1{
  background: green;
  min-height: 150px;
  margin: 20px;
}
/* -------------------------------------- */
#row-2{
  background: white;
  min-height: 150px;
  margin: 20px;
}
/* -------------------------------------- */
.row-2_cols{
  width: 100px;
  min-height: 115px;
  margin: 20px;
  float: left;
}
/* -------------------------------------- */
#row-2_col-1 { background: blue; }
#row-2_col-2 { background: red; }
/* -------------------------------------- */
#row-2_col-2_row-1, #row-2_col-2_row-2 {
  background: yellow;
  min-height: 50px;
  margin: 5px;
}
/* -------------------------------------- */
